MiniAPI/bin/
MiniAPI/obj/
MiniAPI/*.exe
MiniAPI/*.dll
MiniAPI/*.pdb
MiniAPI/*.userprefs
MiniAPI/*.vs
MiniAPI/*.vscode

Testes/bin/
Testes/obj/
Testes/*.exe
Testes/*.dll
Testes/*.pdb
Testes/*.userprefs
Testes/*.vs
Testes/*.vscode